<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Boston News</a>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
